nav {
    z-index: 1;
}
.modal {
    z-index: 2;
}

img.avatar {
    width:100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
    margin-top: 2rem;
}

.user-link {
    display: flex;
    align-items: center;
    width: fit-content;
}
.user-link img {
    width:20px;
    height: 20px;
    border-radius: 20px;
    margin: auto;
    margin-right: 8px;
}

.card {
    max-width: 30rem; 
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#user {
    max-width: 20rem;
}

a {
    color: black;
    background: none;
}
a:visited {
    color: #6f6f6f;
}

.article-card-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.article-count {
    text-align: center;
    margin: 0px;
}

.tag-btn {
    margin: 0.3rem;
}